name: CPPLint

on: [push, pull_request]

jobs:
  cpplint:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: 3.x

    - name: Install cpplint
      run: |
        python -m pip install --upgrade pip
        pip install cpplint

    - name: Run cpplint
      run: |
        chmod +x run_cpplint.sh
        ./run_cpplint.sh
